---
import MainLayout, { type Props } from '../layouts/Layout.astro'

const props: Props = {
  header: {
    title: '404 Page Not Found',
    description: '404 Page Not Found',
  },
}
---

<MainLayout header={props.header}>
  <p class="text-4xl">404 Not Found</p>
</MainLayout>
