---
import MainLayout, { Props } from '../layouts/main.astro'

const props = {
  header: {
    title: 'Wiput Pootong · Curriculum Vitae',
    description: 'I am Software Engineer...',
  },
} satisfies Props
---

<MainLayout header={props.header}>
  <main>About Page</main>
</MainLayout>
