---
import Layout, { type Props } from '../layouts/Layout.astro'

const props: Props = {
  header: {
    title: 'Wiput Pootong - Software Engineer',
    description: 'I am Software Engineer...',
  },
}
---

<Layout header={props.header}>
  <article class="my-auto pb-8">
    <h1 class="text-6xl font-bold mb-3">Wiput Pootong</h1>
    <p class="block font-medium text-md">
      I'm a Full-stack Developer at 30SecondsToFly
    </p>
  </article>
</Layout>
