---
import MainLayout, { Props } from '../layouts/main.astro'

const props: Props = {
  header: {
    title: 'Wiput Pootong - Software Engineer',
    description: 'I am Software Engineer...',
  },
}
---

<MainLayout header={props.header}>
  <main>
    <div class="absolute top-4 right-4">
      <a
        href="https://webring.wonderful.software#wiput.me"
        title="วงแหวนเว็บ"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          alt="วงแหวนเว็บ"
          width="32"
          height="32"
          src="https://webring.wonderful.software/webring.black.svg"
        />
      </a>
    </div>
    <div
      class="w-full min-h-screen grid grid-cols-1 justify-center items-center"
    >
      <div class="w-full text-center">
        <p class="text-4xl">WIPUT POOTONG</p>
        <p class="text-xl">Software Engineer</p>
        <div
          class="flex flex-row justify-between mt-4 md:mt-8 px-4 mx-auto max-w-lg underline"
        >
          <a
            href="https://cv.wiput.me"
            target="_blank"
            rel="noopener noreferrer"
          >
            About me
          </a>
          <a
            href="https://blog.wiput.me"
            target="_blank"
            rel="noopener noreferrer"
          >
            Blog
          </a>
          <a
            href="https://github.com/wiput1999"
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub
          </a>
          <a
            href="https://www.linkedin.com/in/wiputpootong/"
            target="_blank"
            rel="noopener noreferrer"
          >
            LinkedIn
          </a>
        </div>
      </div>
    </div>
  </main>
</MainLayout>
